In [1]:
import pandas as pd

In [2]:
data = {'team': [],
        'TI_away': [],
        'TI_home': []
}

In [3]:
keys = {'Arsenal': '18bb7c10', 'Aston Villa': '8602292d', 'Brighton & Hove Albion': 'd07537b9', 'Burnley': '943e8050',
        'Chelsea': 'cff3d9bb', 'Crystal Palace': '47c64c55', 'Everton':'d3fd31cc', 'Fulham':'fd962109', 'Leeds United':
        '5bfb9659', 'Leicester City': 'a2d435b3', 'Liverpool': '822bd0ba', 'Manchester City': 'b8fd03ef', 
        'Manchester United': '19538871', 'Newcastle United': 'b2b47a98', 'Southampton': '33c895d4', 
        'Tottenham Hotspur': '361ca564', 'West Bromwich Albion': '60c6b05f', 
        'West Ham United':'7c21e445', 'Wolverhampton Wanderers': '8cec06e1'
}

In [4]:
def throw_ins(team):
    url = "https://fbref.com/en/squads/" + keys[team] + "/2020-2021/matchlogs/s10728/passing_types/"
    df = pd.read_html(url)[0]
    df = df.iloc[:-1, :]
    df_away = df[df['For '+ team]['Venue'] == 'Away']
    df_home = df[df['For '+ team]['Venue'] == 'Home']
    TI_away = (df_away['Body Parts']['TI'].sum() / df_away['Body Parts']['TI'].count())
    TI_home = (df_home['Body Parts']['TI'].sum() / df_home['Body Parts']['TI'].count())
    data['team'].append(team)
    data['TI_away'].append(TI_away)
    data['TI_home'].append(TI_home)

In [5]:
for team in keys:
    throw_ins(team)

In [6]:
pd.DataFrame(data)

                       team    TI_away    TI_home
0                   Arsenal  17.526316  17.631579
1               Aston Villa  21.578947  19.368421
2    Brighton & Hove Albion  19.578947  20.736842
3                   Burnley  17.789474  19.842105
4                   Chelsea  19.315789  18.947368
5            Crystal Palace  18.210526  22.210526
6                   Everton  17.526316  17.210526
7                    Fulham  17.368421  23.789474
8              Leeds United  21.789474  20.736842
9            Leicester City  19.842105  18.631579
10                Liverpool  20.842105  21.473684
11          Manchester City  17.368421  17.000000
12        Manchester United  20.842105  18.894737
13         Newcastle United  18.526316  18.894737
14              Southampton  21.473684  20.842105
15        Tottenham Hotspur  19.789474  19.631579
16     West Bromwich Albion  19.368421  18.947368
17          West Ham United  20.052632  18.736842
18  Wolverhampton Wanderers  18.473684  20.000000